.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Toma toda la altura de la pantalla */
    background-color: #f4f7fa; /* Fondo suave */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 12px;
}

.title {
    font-size: 2.5rem;
    color: #333;
    font-weight: 700;
}

.logo {
    width: 100px;
    height: 100px;
}

.description {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
}

.button-link {
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.button-link:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.button-link:active {
    transform: translateY(2px);
}