<div class="home-container">
    <div class="header">
        <img
            src="https://angular.io/assets/images/logos/angular/angular.png"
            alt="Angular Logo"
            class="logo"
        />
        <h1 class="title">Bienvenido a mi prueba técnica de Angular</h1>
        <span>(Andrew Miranda)</span>
    </div>

    <p class="description">
        Para visualizar el componente de usuarios, pulsa el siguiente enlace:
    </p>

    <a href="/users" class="button-link">Usuarios</a>
</div>